.nav-header{
  background: rgb(236, 161, 0);
  height: 5rem;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 0 0
  /* z-index: 999px; */
  /* box-shadow: 0rem 0rem .6rem 0rem */
}

.box{
  width: 85vw; 
  padding: 2rem;
  margin:  .8rem auto;
  position: relative
  /* background-color: white */
  
}

h1{
  /* margin-top: 1rem; */
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white
}

.consulta{
  text-align: center;
  align-items: center
}

.selectCoin{
  margin-top: 2rem;
  margin-bottom: 1rem
}

body{
  background-color: rgb(237, 237, 237)
}

.imgCoin{
  width: 100%
}

.titleCoin{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: rgb(102, 102, 102)
}

.description{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.value{
  color: rgb(102, 102, 102)
}

